body{
    background-color: black;
    color: white;
    font-family: 'Courier New', monospace;

}

h1{
    text-align: center;
    font-size: 90px;




}
p{
    text-align: center;
    font-size: 90px;



}

h2{
    text-align: center;
}